
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
  border: 1px solid #CCC;
  height: 283px;
  width: 756px;
}
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
  width: 756px;
}
/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
 display: block;
}
/* make the TH elements pretty */
thead.fixedHeader th {
  border: 1px solid #CCC;
  border-right: 0px;
  border-bottom: 0px;
}
/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
  display: block;
  height: 262px;
  overflow: auto;
  width: 100%
}
tbody.scrollContent td {
  border: 1px solid #CCC;
  border-right: 0px;
  border-bottom: 0px;
}
/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
  width: 200px
}
html>body thead.fixedHeader th + th {
 width: 240px
}
html>body thead.fixedHeader th + th + th {
  width: 316px
}
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
  width: 200px
}
html>body tbody.scrollContent td + td {
  width: 240px
}
html>body tbody.scrollContent td + td + td {
  width: 300px
}
