doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xml:lang='en')
  head
    title Pure CSS Scrollable Table with Fixed Header
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='language', content='en-us')
    link(rel='stylesheet', href='test.css')
  body
    div#tableContainer.tableContainer
      table.scrollTable(width='100%', cellspacing='0', cellpadding='0', border='0')
        thead.fixedHeader
          tr
            th Header 1
            th Header 2
            th Header 3
        tbody.scrollContent
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td And Repeat 1
            td And Repeat 2
            td And Repeat 3
          tr
            td Cell Content 1
            td Cell Content 2
            td Cell Content 3
          tr
            td More Cell Content 1
            td More Cell Content 2
            td More Cell Content 3
          tr
            td Even More Cell Content 1
            td Even More Cell Content 2
            td Even More Cell Content 3
          tr
            td End of Cell Content 1
            td End of Cell Content 2
            td End of Cell Content 3
    div
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      | put a bunch of breaks to test scrolling within the HTML document itself.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      | put a bunch of breaks to test scrolling within the HTML document itself.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      | put a bunch of breaks to test scrolling within the HTML document itself.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      | done.
