
/* scrollable table */

.scrollableContainer {
  position: relative;
}

.scrollArea {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollArea table {
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0;
  border: none;
  border-collapse: separate;
}

.scrollArea table thead {
  position: absolute;
  top: 0;
}
