
body > div {
    margin-top: 20px;
    margin-left: 20px;
}

/* table borders */

.scrollContainer {
  border: 1px solid #CCC;
  border-radius: 5px;
  height: 283px;
  width: 756px;
}

.scrollArea table th {
  border-bottom: 1px solid #CCC;
}

.scrollArea table {
  border: none;
}
