doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(type='text/javascript', src='http://code.angularjs.org/1.2.9/angular.min.js')

    script(type='text/javascript', src='../../angular-scrollable-table.js')
    script(type='text/javascript', src='test.js')

    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='../../scrollable-table.css')

  body(ng-app='myApp')
    div(style='margin-top: 20px', ng-controller='MyCtrl')
      scrollable-table(watch='visibleProjects')
        table.table.table-striped.table-bordered
          thead
            tr
              th(col='facility') Facility
              th(col='code') Unit code
              th(col='cost') Cost
              th(col='conditionRating') Condition score
              th(col='extent') Replace %
              th(col='planYear') Plan year
          tbody
            tr(ng-class='{info: selected == response.facility}', row-id='{{ response.facility }}', ng-repeat='response in visibleProjects')
              td {{ response.facility }}
              td {{ response.code }}
              td {{ response.cost }}
              td.cr
                | {{ response.conditionRating }}
              td {{ response.extent }}
              td {{ response.planYear }}
